 <div class="titulo__form">
    <h3>Editar Cliente</h3>
  </div>

<div class="formulario">
    
        <form class="form" action="/funcionarios/edit" method="post">
        <div class="form-item col-responsive">
            <input class="input" type="text" name="id" required="required" id="id" value="{{funcionarios.dataValues.id_funcionario}}" readonly/>
            <label class="label" for="nome">ID</label>
          </div>
          <div class="form-item col-responsive">
            <input class="input" type="text" name="nome" required="required" id="nome" value="{{funcionarios.dataValues.nome}}"/>
            <label class="label" for="nome">Nome</label>
          </div>          
          <div class="form-item col-responsive">
            <input class="input" type="date" name="data_nascimento" required="required" id="data_nascimento" value="{{funcionarios.dataValues.data_nascimento}}"/>
            <label class="label" for="data_nascimento">Data de nascimento</label>
          </div>
          <div class="form-item col-responsive">
            <input class="input" type="text" name="email" required="required" id="email" value="{{funcionarios.dataValues.email}}"/>
            <label class="label" for="email">Email</label>
          </div>
           <div class="form-item col-responsive">
            <input class="input" type="text" name="telefone" required="required" id="telefone" value="{{funcionarios.dataValues.telefone}}"/>
            <label class="label" for="telefone">Telefone</label>
          </div>
          <div class="form-item col-responsive">
            <input class="input" type="text" required="required" name="endereco" id="endereco" value="{{funcionarios.dataValues.endereco}}"/>
            <label class="label" for="endereco">Endereço</label>
          </div>
          <div class="form-item col-responsive">
            <input class="input" type="text" required="required" name="cargo" id="cargo" value="{{funcionarios.dataValues.cargo}}"/>
            <label class="label" for="cargo">Cargo</label>
          </div>
          <div class="form-item">
            <input class="botao" type="submit" value="Enviar"/>
          </div>
        </form>
    
    </div><!--Class Formulario-->