<section class="pesquisa">
    <div class="container__pesquisa">
        <input type="search" placeholder="O que você procura?" name="search" class="container__pesquisa-input">
    </div>
</section>
</div>
<section class="carrossel">
    <div class="container__banner">
        <div class="banner-liz">

        </div>
    </div>
    <div class="container__banner-info">
        <div class="info__liz">
            <h3 class="info__liz-titulo">Liz</h3>
            <p class="info__liz-texto">Liz traz a exclusiva Base de Laire Íris Nobre, uma fórmula que, para alcançar o
                seu melhor, leva anos para ser produzida. Conheça a linha completa da nova fragrância intensa e marcante
                do Boticário!
            </p>
        </div>
    </div>

    <div class="carrossel__container">
        <!-- Slider main container -->
        <div class="swiper">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                {{#each produtosLiz}}
                <div class="swiper-slide">
                    <div class="container__card">
                        <div class="container__card-imagem">
                            <img src="{{dataValues.imgsource}}">
                        </div>
                        <div class="container__card-preco">
                            <div class="produto__texto">
                                <p class="produto__nome">{{dataValues.nome}}</p>
                                <p class="produto__descricao">{{dataValues.descricao}}</p>
                                <p class="produto__preco">R$ {{dataValues.preco}}</p>
                            </div>
                            <div class="produto__icones">
                                <button class="botao__carrinho" action="/addproduto">Adicionar ao Carrinho</button>
                            </div>
                        </div>
                    </div>                    
                </div>
                {{/each}}                
            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>

            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>

        </div>
    </div>
    <div class="container__banner">
        <div class="banner-lily">

        </div>
    </div>
    <div class="container__banner-info">
        <div class="info-lily">
            <h2 class="titulo__lily">Lily</h2>
            <p>Através do raro processo artesanal de enfleurage, os eaux de parfum de Lily possuem em sua essência as
                melhores notas dos lírios, criando fragrâncias únicas, delicadas e marcantes. Conheça também Lily Le
                Parfum, o perfume de Lily com uma riqueza olfativa encantadora e sofisticada.</p>
        </div>
    </div>

    <div class="carrossel__container">
        <!-- Slider main container -->
        <div class="swiper">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                {{#each produtosLily}}
                <div class="swiper-slide">
                    <div class="container__card">
                        <div class="container__card-imagem">
                            <img src="{{dataValues.imgsource}}">
                        </div>
                        <div class="container__card-preco">
                            <div class="produto__texto">
                                <p class="produto__nome">{{dataValues.nome}}</p>
                                <p class="produto__descricao">{{dataValues.descricao}}</p>
                                <p class="produto__preco">R$ {{dataValues.preco}}</p>
                            </div>
                            <div class="produto__icones">
                                <button class="botao__carrinho" action="/addproduto">Adicionar ao Carrinho</button>

                            </div>
                        </div>
                    </div>                    
                </div>
                {{/each}}
                
            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>

            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>

        </div>
    </div>
    <div class="container__banner">
        <div class="banner-coffee">

        </div>
    </div>

    <div class="container__banner-info">
        <div class="info-coffee">
            <h2 class="titulo__coffee">Coffee</h2>
            Para os homens que apreciam fragrâncias marcantes e que trazem notas de café, Coffee traz diversos itens de
            perfumaria masculina para surpreender você ou alguém que você queira presentear. Confira os produtos!
        </div>
    </div>
    <div class="carrossel__container">
        <!-- Slider main container -->
        <div class="swiper">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                {{#each produtosCoffee}}
                <div class="swiper-slide">
                    <div class="container__card">
                        <div class="container__card-imagem">
                            <img src="{{dataValues.imgsource}}">
                        </div>
                        <div class="container__card-preco">
                            <div class="produto__texto">
                                <p class="produto__nome">{{dataValues.nome}}</p>
                                <p class="produto__descricao">{{dataValues.descricao}}</p>
                                <p class="produto__preco">R$ {{dataValues.preco}}</p>
                            </div>
                            <div class="produto__icones">
                                <button class="botao__carrinho" action="/addproduto">Adicionar ao Carrinho</button>
                            </div>
                        </div>
                    </div>                    
                </div>
                {{/each}}
            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>

            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>

        </div>
    </div>

</section>