<section class="produtos">
    <div class="container__adicionar">
        <a href="/produtos/add" class="botao__adicionar">Adicionar Produto</a>
    </div>
    <div class="wrapper">
        {{#each produtos}}
        <div class="container__produto">    
            <div class="container__produto-imagem ">
                <img src="/{{dataValues.imgsource}}" class="imagens-produtos">
            </div>
            <div class="container__produto-texto">
                <div class="produto__texto">
                    <span class="produto__nome">{{dataValues.nome}}</span>
                    <span class="produto__nome">{{dataValues.descricao}}</span>
                    <span class="produto__preco">R$ {{dataValues.preco}}</span>
                </div>
                <div class="produto__icones">
                    <a href="/produtos/editar/{{dataValues.id_produto}}" class="botao__carrinho">Editar</a>
                    <a href="/produtos/delete/{{dataValues.id_produto}}" class="botao__carrinho">Excluir</a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</section>